<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book an Appointment</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body onload="getRandomDoctorQuote()">

    <div class="top-bar" id = "top-bar">

        <div class="legend">
            <img src="./images/image-removebg-preview.png" alt="logo" height="20px">
            <a href="#" class="button">Doctor</a>
            <a href="#" class="button">Test</a>
            <a href="#" class="button">Pricing</a>
            <a href="#" class="button">Contact Us</a>
        </div>

        <div class="log">
            <a href="#" class="login">Log in</a>
            <a href="#" class="signup">Sign up</a>
        </div>

    </div>
        
    <div class="content">
        <div class="sub-container">

                <div class="book-container">

                    <div class="doctor-details">
                    
                        <div class="input-box">
                            <label for="doctor-id" class="details">Doctor ID:</label>
                            <select name="doctor-id" id="doctor-id" class="select-options">
                                <option value="id1">0010101</option>
                                <option value="id2">0010102</option>
                            </select>
                        </div>

                        <div class="input-box">
                            <label>Doctor name: `${doctorName}`</label>
                        </div>
                        
                        <div class="input-box">
                            <label>Department: `${department}`</label>
                        </div>

                        <div class="input-box">
                            <label>Room No.: `${room}`</label>
                        </div>

                    </div>
                    
                    <div class="patient-details">
                        
                        <div class="input-box">
                            <div class="labelInfo">Patient Name: </div>
                            <input type="text" id="patientName">
                        </div>
                        
                        <div class="input-box">
                            <div class="labelInfo">Phone No.: </div>
                            <input type="text" id="phoneNo">
                        </div>
                        
                        <div class="input-box">
                            <div class="labelInfo"> Age: </div>
                            <input type="text" id="age">
                        </div>
        
                        <div class="input-box">
                            <label for="sex">Sex: </label>
                            <select name="sex" id="sex" class="select-options">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                        
                        <div class="input-box">
                            <label for="date">Date: </label>
                            <input type="date" id="date">
                        </div>
        
                    </div>
                    
                </div>
        
                <div class="content1">
                    <a href="#" class="book">Submit</a>
                </div>

        </div>

    </div>
        
    <!-- <script src="style.js"></script> -->

</body>

</html>