<%- include("header") %>
        <div class="log">
            <a href="#" class="login">Log in</a>
            <a href="#" class="signup">Sign up</a>
        </div>

    </div>
        
    <div class="content">
        <div class="message">

            <div class="greet">
                <p>Dear ${patient-name},</p>
                <p> We are sorry to inform you that we were not able to book your appointment due to an internal error.
                    Plase try to book your appointment again.
                    <br>Thank you for choosing us for your healthcare needs. We look forward to providing you with the best care possible.
                    <br><br>
                    Best regards,<br>
                    General Hospital
            </p>
            </div>
        </div>

    </div>
        
    <!-- <script src="style.js"></script> -->

</body>

</html>