<%- include("header") %>


    <div class="welcome">
        <div class="larger">
            Welcome to General Hospital
        </div>
        <p class="quote" id="quote"></p>
        <p class="author" id="author"></p>
        <div class="grad"></div>
    </div>

    <div class="subcontent">

        <div class="content1">
            <form action="#">
                <button type="submit" class="book">Book an Appointment</button>
            </form>
        </div>
        

        <div class="content2">
            <div class="assist">
                <img src="./images/doctors.png" alt="" height="250px">
                <h3>Find A Doctor</h3>
            </div>
            
            <img src="./images/next.png" alt="right-arrow" class="dir">

            <div class="assist">
                <img src="./images/doctor.png" alt="" height="250px">
                <h3>Check Doctor Profile</h3>
            </div>

            <img src="./images/next.png" alt="right-arrow" class="dir">

            <div class="assist">
                <img src="./images/time.png" alt="" height="250px">
                <h3>Book an Appointment</h3>
            </div>
            
            <img src="./images/next.png" alt="right-arrow" class="dir">

            <div class="assist">
                <img src="./images/medical-checkup.png" alt="" height="250px">
                <h3>Get Medical Help</h3>
            </div>
        </div>

        <div class="large">
            Our Services
        </div>

        <div class="content3">
            <div class="service">
                <h3>Expert Medical Consultations:</h3>
                <div class="cutoff">
                    <p>At our hospital, we believe that every patient deserves personalized and informed medical care. 
                        Our team of seasoned specialists offers more than just medical consultations;
                         we provide comprehensive evaluations that delve into your medical history, 
                         symptoms, and concerns.</p>
                </div>
            </div>
            <div class="service">
                <h3>Emergency Care Excellence:</h3>
                <p class="cutoff">When seconds matter most, our hospital stands as a beacon of swift and expert emergency medical care. 
                    Our highly trained medical teams are equipped to handle critical 
                    situations such as trauma, heart emergencies, strokes, and severe injuries with precision and 
                    compassion.
                </p>
            </div>
            <div class="service">
                <h3>Advanced Surgical Solutions:</h3>
                <p class="cutoff">Our hospital takes pride in offering a comprehensive range of advanced surgical
                     solutions delivered by skilled and experienced surgical teams. Our 
                     state-of-the-art operating rooms are equipped with the latest technologies
                      and equipment, ensuring precision, safety, and successful outcomes for a 
                      diverse range of procedures. </p>
            </div>
            <div class="service">
                <h3>Compassionate Oncology Care:</h3>
                <p class="cutoff">Facing a cancer diagnosis is a journey that requires not only 
                    medical expertise but also unwavering support. At our hospital, 
                    our oncology services are designed to address the physical, 
                    emotional, and psychological aspects of your cancer experience. 
                    Our multidisciplinary team of oncologists, nurses, therapists, 
                    and support staff collaborate to provide a comprehensive and 
                    compassionate approach to cancer care.</p>
            </div>
        </div>

        <div class="footer">
            <div class="larger">Our Mission is to Provide The Best Medical Care
                At Affordable Prices
            </div>
        </div>
    </div>

    <div class="contact-us">
        
        <div class="contact">
            <h3>Contact Us</h3>
            <p>Phone: +91 1234567890</p>
            <p>Email: ghbd@gmail.com </p>
        </div>

        <div class="contact">
            <h3>Address</h3>
            <p>3<sup>rd</sup> floor </p>
            <p>IICT Building, SUST</p>
        </div> 

        <div class="contact">
            <h3>File a Complaint</h3>
            <p>Phone: +91 1234567890</p>
            <p>Email: ghbd@gmail.com </p>
        </div>

    </div>  

    <script src="style.js"></script>

    </body>

    </html>