<%- include("header") %>

<div class="welcome">
    <div class="larger">
        Some of our Testing Services
    </div>
</div>
<div class="content">

    <div class="content4">
        <div class="test">
            <div class="test-desc">

                <div class="large">
                    Complete Blood Count (CBC):
                </div>
                <p>The Complete Blood Count (CBC) is a fundamental test that assesses the composition and health of your blood.
                     It provides crucial information about your red blood cells, white blood cells, and 
                     platelets, helping to diagnose a wide range of conditions such as anemia, infections, 
                     and blood disorders. By evaluating the levels of different blood components, the CBC 
                     gives our medical experts valuable insights into your overall health, aiding in timely
                      diagnosis and appropriate treatment recommendations. Whether you're visiting us for a
                       routine check-up or seeking answers to specific health concerns, our comprehensive CBC analysis
                        plays a pivotal role in understanding your body's internal dynamics.</p>
            </div>
            <div class="image">
                <img src="./images/sample-tube.png" alt="" height="250px">
                </div>  

        </div>

        <div class="test">
            <div class="test-desc">

                <div class="large">
                    X-ray Imaging:
                </div>
                <p>X-ray imaging is a fundamental and time-tested diagnostic technique that provides
                     quick and informative snapshots of the body's internal structures. Using small amounts
                      of radiation, X-rays capture detailed images of bones, tissues, and organs, aiding in
                       the diagnosis of a variety of conditions, from fractures and lung infections to dental issues. 
                       At our hospital, we utilize state-of-the-art X-ray equipment and techniques to ensure accurate 
                       and swift results while minimizing radiation exposure. Our experienced radiologists analyze 
                       these images to detect abnormalities, guide treatment decisions, and monitor progress.
                        With X-ray services readily available, we are dedicated to providing comprehensive diagnostic 
                        solutions that play a pivotal role in your healthcare journey. Whether it's for routine 
                        check-ups or more complex medical concerns, X-ray imaging is an integral part of our commitment to your well-being.
                </p>
            </div>
            <div class="image">
                <img src="./images/x-ray.png" alt="" height="250px">
                </div>  

        </div>
        <div class="test">
            <div class="test-desc">

                <div class="large">
                    Lipid Profile:
                </div>
                <p>A Lipid Profile is a diagnostic tool that evaluates your cholesterol levels and lipid content
                     in the blood. By measuring different types of cholesterol (such as HDL and LDL cholesterol)
                      and triglycerides, this test helps us assess your cardiovascular health and potential risk factors 
                      for heart disease. Understanding your lipid profile is crucial for making informed decisions about
                       dietary habits, exercise, and medical interventions that can reduce your risk of
                        heart-related complications. Whether you're proactively managing your heart health or responding to specific concerns, 
                    our hospital's advanced lipid profile analysis empowers you to take control of your well-being.</p>
            </div>
            <div class="image">
                <img src="./images/lipid.png" alt="" height="250px">
                </div>  

        </div>
        <div class="test">
            <div class="test-desc">

                <div class="large">
                    Electrocardiogram (ECG/EKG):
                </div>
                <p>An Electrocardiogram (ECG/EKG) is a vital diagnostic test that records the electrical
                     activity of your heart. This painless and non-invasive procedure helps detect irregular
                      heart rhythms (arrhythmias), assess the overall health of your heart, and identify
                       potential signs of cardiac diseases. By analyzing the patterns and waves in the ECG,
                        our experienced cardiologists can make accurate assessments of your heart's function and
                         recommend appropriate interventions to ensure your cardiovascular well-being. Whether you're seeking
                          preventive care or addressing heart-related symptoms, 
                    our hospital's ECG services provide invaluable insights into your heart's health..</p>
            </div>
            <div class="image">
                <img src="./images/monitoring.png" alt="" height="250px">
                </div>  

        </div>
        <div class="test">
            <div class="test-desc">

                <div class="large">
                    Magnetic Resonance Imaging (MRI):
                </div>
                <p>Magnetic Resonance Imaging (MRI):Magnetic Resonance Imaging (MRI) is a 
                    powerful and non-invasive diagnostic tool that provides detailed images of the 
                    internal structures of your body. Using strong magnetic fields and radio waves, 
                    MRI captures high-resolution images of organs, tissues, and bones, offering 
                    unparalleled insights into a wide range of medical conditions. Whether you're investigating
                     joint pain, neurological concerns, or internal injuries, our hospital's advanced MRI technology 
                     enables us to visualize intricate details that traditional imaging methods might miss. Our skilled 
                     radiologists use these images to make accurate diagnoses and develop targeted treatment plans. 
                     Patient comfort is paramount to us, and our modern MRI facilities are designed to provide a calm
                      and reassuring environment throughout the procedure. From identifying subtle abnormalities to guiding
                       intricate surgical procedures, MRI stands as an indispensable 
                    tool in our commitment to providing the highest standard of care for our patients' well-being.</p>
            </div>
            <div class="image">
                <img src="./images/ct-scan.png" alt="" height="250px">
                </div>  

        </div>
    </div>
</div>
<div class="contact-us">
    
    <div class="contact">
        <h3>Contact Us</h3>
        <p>Phone: +91 1234567890</p>
        <p>Email: ghbd@gmail.com </p>
    </div>

    <div class="contact">
        <h3>Address</h3>
        <p>3<sup>rd</sup> floor </p>
        <p>IICT Building, SUST</p>
    </div> 

    <div class="contact">
        <h3>File a Complaint</h3>
        <p>Phone: +91 1234567890</p>
        <p>Email: ghbd@gmail.com </p>
    </div>

</div>
</body>
<script src="style.js"></script>

</html>