<%- include("header") %>


    <div class="welcome">

        <p class="quote" id="quote"></p>
        <p class="author" id="author"></p>
    </div>

    <div class="content">

        <div class="content1">
            <form action="/doctors">
                <button type="submit" class="book">Book an Appointment</button>
            </form>
        </div>

        <div class="content2">
            <h2>Our Speciality</h2>
        </div>

    </div>

    <script src="style.js"></script>

    </body>

    </html>