@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

*   {
    font-family: 'Poppins', 'Helvetica';
}

.top-bar {
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-end;

    box-sizing: border-box;
    
    width: 100%;
    position: fixed;

    border-bottom: 1px solid #989494;

    background-color: #ffffff;
    
    opacity: 85%;
    color: #fff;
    margin-bottom: 2px;
    z-index: 10;
}

.button {
    display: inline-block;
    align-items: center;
    position: relative;

    height: 60%;

    padding-top: 0.5rem;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;

    border-bottom: 4px solid #ffffff;
    transition: transform 0.3s ease 0s;

    background-color: transparent;
    
    color: #000000;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 500;
}


.button:hover   {
    transform: translateY(-03px);
    border-color: #0dc780;
}

.top-bar .hero-name {
    height: 60%;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;

    transition: transform 0.3s ease 0s;
    border-bottom: 4px solid #fff;
    color: #000000;
    /* margin-bottom: 0.3rem; */

    text-decoration: none;
}
.top-bar .hero-name:hover   {
    transform: translateY(-03px);
    border-color: #0dc780;

}

.top-bar .log {
    display: flex;
    justify-content: space-evenly;
    gap: 0.3rem;
    color: #000;
    margin-bottom: 0.3rem;
    margin-right: 1.5rem;
    padding-top: 0.3rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-bottom: 0.3rem;

    border-radius: 5px;
    border: 1px solid #ebebeb;
    font-size: 1rem;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
}

.top-bar .log .login    {
    height: 60%;
    
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;

    color: #000;
    border-radius: 5px;

    transition: background-color 0.3s ease;
    
    text-decoration: none;
    font-family: Helvetica;
}

.top-bar .log .login:hover    {
    background-color: rgb(0, 0, 0);
    color: #fff;
}

.top-bar .log .log-out    {
    height: 60%;
    
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;

    color: #000;
    border-radius: 5px;

    transition: background-color 0.3s ease;
    
    text-decoration: none;
    font-family: Helvetica;
}

.top-bar .log .log-out:hover    {
    background-color: rgb(255, 0, 0);
    color: #ffffff;
}

.top-bar .log .signup    {
    height: 60%;
    
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;

    color: #000;
    border-radius: 5px;

    /* border-bottom: 4px solid #ffffff; */
    transition: background-color 0.3s ease;
    
    text-decoration: none;
    font-family: Helvetica;
}

.top-bar .log .signup:hover    {
    background-color: rgb(255, 255, 0);
    border-bottom: 1px solid #5e5e5e ;
    /* color: #fff; */
}

.search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 2rem;
    width: 98%;

    /* border: 2px solid black; */
}

.search-bar input   {

    padding-left: 1rem;

    width: 40%;
    height: 2rem;

    border-radius: 1rem;

    font-size: 1.2rem;
}

.search-bar .search_result  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    width: 50%;

    padding-left: 10rem;
}

.search-bar .search_result button  {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
    margin-bottom: 0.2rem;
    font-size: 1.2rem;
    /* background-color: red; */

    width: 100%;

    padding-left: 1rem;
    padding-right: 1rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ebebeb;

    transition: background-image 1s ease;
}

.search-bar .search_result button:hover  {
    border-radius: 0.5rem;
    background-image: linear-gradient(to bottom, #ffffff, #f0fff9);
    /* color: #fff; */
    /* border-bottom: #0dc780; */
}

.search-bar .search_result a    {
    text-decoration: none;
    color: #3e3e3e;
}

.content    {
    /* background-color: red; */
    position: relative;

    width: 99%;
    height: max-content;
    display: flex;;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1.2rem;
    
    align-items: center;
    border-radius: 10px;
    
    padding-top: 3rem;
    margin-bottom: 5rem;
}

.subcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    /* background-color: #000000; */
    /* border: 2px solid #ebebeb; */
}

.welcome    {
    width: 100%;

    border-radius: 1rem;
    padding-top: 10rem;
    padding-bottom: 4rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to bottom, #cffcec, #ffffff);
}

.welcome .larger    {
    font-family: 'Inter', sans-serif;
    font-size: 4rem;
    font-weight: 900;
    color: #000;

    margin-bottom: 5rem;
}

.larger    {
    font-family: 'Inter', sans-serif;
    font-size: 4rem;
    font-weight: 900;
    color: #000;

    margin-bottom: 5rem;
}

.large  {
    
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    color: #000;

    margin-bottom: 2rem;
}

.footer {
    margin-top: 5rem;
    width: 70%;
}

.footer .larger {
    font-family: 'Inter', sans-serif;
    font-size: 4rem;
    font-weight: 900;
    color: #000;

    margin-bottom: 5rem;
    
}

.contact-us {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;

    background-color: rgb(32, 32, 32);
    color: #fff;
    border-radius: 0.5rem;

    width: 100%;
}

.contact-us h3{
    
    font-family: 'Inter', sans-serif;
}

.content1   {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    max-height: 5rem;
    
    background-color: #0dc780;
    background-image: linear-gradient(to bottom, #11d087, #0bb876);

    transition: transform 0.3s ease 0s, box-shadow 0.5s ease 0s;
    border-radius: 5px;
    max-width: 20rem;
    /* padding-left: 10px; */
    text-align: center;
}

.content1:hover {
    /* background-image: linear-gradient(to bottom, #0fac70, #08925d); */
    transform: translateY(-5px);
    box-shadow: 0px 0px 10px 0px #0dc780;
}

.content2   {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space-evenly;
    justify-content: space-evenly;

    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
    margin-top: 5rem;
    margin-bottom: 2rem;

    width: 70%;
    text-align: center;
}

.content2   img {
    height: 10rem;
}

.content2 .assist {
    font-family: 'Inter', sans-serif;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content2 .assist img   {
    height: 10rem;
    width: 10rem;
    border-radius: 5rem;
    border: 2px solid #cffcec;
}

.content3   {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space-evenly;
    justify-content: space-evenly;


    width: 100%;
}

.content3 .service  {
    max-width: 20rem;
}

.content4   {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    width: 100%;
}


.test  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    margin-bottom: 5rem;

    width: 70%;
}


.test-desc  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    margin-right: 4rem;
    width: 70%;
}

.test .image img {
    height: 10rem;
}

.book   {
    font-family: 'Inter';
    text-decoration: none;
    font-size: 1.2em;

    color: #fff;
}

.accordion {
    /* margin-right: 60px; */
    width: 90%;
  }
  
  .accordion li {
    list-style: none;
    width: 100%;
    margin-bottom: 1.2rem;
    padding: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 3px 3px 10px -4px #191919,
                -3px -3px 10px -4px #ffffff;
  }
  
  .accordion li label {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
  }
  
  label:before {
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 700;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  .accordion .acc-content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #555;
    padding: 0 10px;
    line-height: 26px;
  
    max-height: 0;
    overflow: scroll;
  
    transition: max-height ease 1.0s, padding 1.0s;
  }
  
  .accordion input[type="radio"]:checked + label + .acc-content {
    max-height: 1500px;
    padding: 10px 10px 20px;
  }
  
  .accordion input[type="radio"]:checked + label::before{
    content: '-';
    font-weight: 700;
  }

.department {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 1rem;
    /* overflow-y: scroll; */

    position: relative;
    height: 28rem;
    width: 98%;
    
    border-radius: 5px;
}

.department-doctors {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 1em;

    position: relative;
    height: max-content;
    width: 98%;
/* 
    overflow-x: scroll;
    overflow-y: scroll; */
    
    padding-left: 15px;
    /* padding-bottom: 10px; */
    /* margin-bottom: 15px; */
    max-lines: 10 ;
    font-family: 'Inter';
    text-decoration: none;
    font-size: 20px;

}

.department-doctors .thumb-doctor {
    display: flex;
    flex-direction: column;
    /* top: 3.75rem; */
    align-items: center;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    width: 14rem;
    height: fit-content;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.department-doctors .thumb-doctor .dp {
    /* position: absolute; */
    /* top: 10em; */

    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.department-doctors .thumb-doctor .name {
    font-family: 'Helvetica';
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
}

.department-doctors .thumb-doctor .details  {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    /* align-items: center; */
    /* justify-content: center; */
    font-family: 'Inter';
    font-weight: 100;
    font-size: 12px;
}

.view-profile   {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    gap: 3rem;
    /* height: 80%; */
    width: 98%;
    margin-top: 1.2rem;

    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #ebebeb;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.view-info  {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-right: 1px solid #ebebeb;
    width: 45%;
}

.name   {
    font-family: 'Poppins';
    font-size: 1.8rem;
    font-weight: 500;
    transition: transform 0.3s ease 0s, font-weight 0.5s ease 0s;
}

.id, .speciality, .degree, .academics, .room-no {
    font-family: 'Poppins';
    font-size: 1.5rem;
    font-weight: 300;
    transition: transform 0.3s ease 0s;
}

.name:hover, .id:hover,.speciality:hover, .degree:hover, .academics:hover, .room-no:hover    {
    transform: translateY(-03px);
    font-weight:bold;
}

.sub-container  {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    width: 75%;

    box-shadow: 0px 0px 10px 0px #ebebeb;
    border-radius: 10px;
    margin-top: 5rem;
    margin-left: 1rem;
    padding-bottom: 5rem;
}

.view-image {
    display: flex;
    justify-content: center;
    height: 25rem;
    width: 25rem;
    border-radius: 14.5rem;
    border: 1px solid #0dc780;
    box-shadow: 0px 0px 0px 0px #0dc780;
    overflow: hidden;
    margin-right: 5rem;
}

.book-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 80%;
    /* gap: 3rem; */
    align-items: flex-start;
    justify-content: center;
    border: 1px dotted #0dc780;
    margin-top: 5rem;
    /* margin-bottom: 1rem; */

    padding-top: 3.5rem;
    padding-bottom: 1.5rem;
}

.doctor-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.8rem;

    font-family: 'Helvetica';
    font-size: 1.2em;
    font-style: normal;
    /* font-weight: 200; */

    border-right: 1px solid #ebebeb;
    /* border: 1px solid blue; */
    margin-right: 5rem;
    padding-right: 5rem;
}

.patient-details    {
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.8rem;

    font-family: 'Helvetica';
    font-size: 1.1em;
    font-style: normal;
    font-weight: 200;
}
.patient-details button    {
    margin-top: 1rem;
}

.login-container    {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    gap: 3rem;

    height: 30rem;
    width: 25rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    position: relative;
    /* border: 1px dotted red; */

    box-shadow: 0px 0px 10px 0px #ebebeb;
    padding-top: 5rem
}

.login-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-container    {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    gap: 3rem;

    height: 30rem;
    /* width: 50rem; */
    width: 80%;
    margin-top: 5rem;
    position: relative;
    /* border: 1px dotted red; */

    box-shadow: 0px 0px 10px 0px #ebebeb;
    padding-top: 5rem
}

.register-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.labelInfo  {
    font-size: 0.8em;
    color: #757575;
    padding-left: 0.5em;
    padding-top: 0.3em;
    transition: 0.3s ease;
}

.login-button   {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 1rem;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    background-color: #0dc780;
    background-image: linear-gradient(to bottom, #11d087, #0bb876);

    transition: transform 0.3s ease 0s, box-shadow 0.5s ease 0s;
    border-radius: 5px;
    width: 8rem;
    text-align: center;
    font-size: 1em;
}

.login-button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 10px -3px #0dc780;
}

.login-container .forgot{
    margin-top: 1rem;
    text-decoration: none;
    color: #484848;
    font-size: 0.8em;
    transition: 0.3s ease;
}

.login-key  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 7%;
    width: 70%;
    /* border: 2px solid red; */
    
    background: linear-gradient(to bottom, #7512ff, #610cd8);
    border-radius: 0.75rem;
    box-shadow: 0px 0px 10px -1px #610cd8;

    color: #fff;
    font-size: 1.1rem;
}

.login-container a {
    background: transparent;
    color: #3e3e3e;
    text-decoration: none;
    transition: transform 0.3s ease 0s, box-shadow 0.5s ease 0s;
}

.login-container a:hover {
    transform: translateY(-2px);
}

input   {
    outline: none;
    font-size: 1em;
    border: 2px solid #ebebeb;
    border-radius: 0.3em;
    transition: 0.5s ease;
    z-index: 10;
    padding-left: 0.5rem;
}

.login-container :valid ~ .labelInfo,
.login-container :focus ~ .labelInfo    {
    color: #0dc780;
}

.message     {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: center;
    justify-content: center;

    width: 80%;
    margin-top: 5rem;
    padding-top: 3.5rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px -3px #ebebeb;
    padding-bottom: 1.5rem;
    font-family: 'Poppins';
    padding-bottom: 3.5rem;
}

.greet  {
    padding-left: 2rem;
    padding-right: 1rem;
}
.bolder {
    font-weight: 700;
}

.visit-due  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    border: 2px solid #ebebeb;
    border-radius: 10px;
    width: 98%;
    max-height: 10rem;
    margin-bottom: 1rem;
}

.visit-done {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    border: 2px solid #6a00ff;
    background: linear-gradient(to bottom, #6a00ff, #4f09b1);
    color: #fff;
    border-radius: 10px;
    width: 98%;
    max-height: 10rem;
    margin-bottom: 1rem;
}

.patient-info   {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.8rem;

    font-family: 'Helvetica';
    font-size: 1.1em;
    font-style: normal;
    font-weight: 200;

    margin-left: 1rem;
    margin-top: 0.5rem;
}

.button-back    {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    background-color: #0dc780;
    background-image: linear-gradient(to bottom, #11d087, #0bb876);

    transition: transform 0.3s ease 0s, box-shadow 0.5s ease 0s;
    border-radius: 5px;
    max-width: 20rem;
    max-width: 10rem;
    text-align: center;
    color: #fff;
}
.button-back:hover {
    /* background-image: linear-gradient(to bottom, #0fac70, #08925d); */
    transform: translateY(-5px);
    box-shadow: 0px 0px 10px 0px #0dc780;
}

.button-back button {
    color: inherit;
    background-color: transparent;
    /* color: #fff; */
    border: none;
    height: 100%;
    width: 100%;

    font-size: 1.2rem;
    cursor: pointer;
}

.button-cancel  {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 0.5rem;

    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    color: #000;
    background-image: linear-gradient(to bottom, #ffffff, #ebebeb);

    border: 2px solid #cacaca;
    transition: transform 0.3s ease 0s, box-shadow 0.5s ease 0s;
    border-radius: 5px;
    max-width: 10rem;
    max-height: 5rem;
    text-align: center;

}

.button-cancel:hover {
    /* background-image: linear-gradient(to bottom, #0fac70, #08925d); */
    transform: translateY(-5px);
    box-shadow: 0px 0px 10px 0px #afafaf;
}

button[type="submit"] {
    background-color: transparent;
    /* color: #fff; */
    border: none;
    font-size: 1rem;
    cursor: pointer;
  }

  .table    {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin-bottom: 5rem;
  }

  .table .col   {
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 15%;
  }
  .table .col  h3 {
    border-bottom: 2px solid #ebebeb;
  }